<footer>
  <div class="clear"></div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Empire App </h5>
          <p class="grey-text text-lighten-4">  </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="cgs.html">Conditions Generale</a></li>
            <li><a class="grey-text text-lighten-3" href="plansite.html">Plan du site </a></li>
            <li><a class="grey-text text-lighten-3" href="../contact/contact.component.html">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © EmpireApp Team
        <a class="grey-text text-lighten-4 right" href="#!"> </a>
      </div>
    </div>
  </footer>


