body {
    background-color: #fff;
}

.h1,
h2,
h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footer .container {
    position: absolute;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
}

[class*="col-"] {
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}

.btn-lg {
    width: 52px;
    height: 52px;
    border-radius: 30px;
}

#container_demarrage {
    background-color: #fff;
}

.conteneur {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.body-titre {
    position: absolute;
    margin-top: 30px;
    margin-left: 689px;
    font-size: 35px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 112px;
}

.titre-p {
    position: absolute;
    width: 500px;
    margin-top: 216px;
    margin-left: 719px;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: center;
}

.conteneur:after,
.element:before {
    content: '';
    display: table;
}

.conteneur:after {
    clear: both;
}

ul.children {
    list-style-type: none;
}

.conteneur li {
    width: 100%;
    height: 411px;
    display: inline-block;
    margin: auto;
    overflow: hidden;
}

.element {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.rotate-wrap {
    position: absolute;
    width: 1600px;
    height: 1600px;
    -webkit-transition: all 5s ease-in-out;
    -ms-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    *top: 20px;
    left: 20px;
}

.image01 {
    background-image: url(assets/images/01.png);
}

.rotate-wrap {
    position: absolute;
    width: 1600px;
    height: 1600px;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    -ms-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    top: 20px;
    left: 20px;
}

.element-rotate {
    position: absolute;
    width: 1600px;
    height: 1600px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.element-rotate {
    position: absolute;
    width: 1600px;
    height: 1600px;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element-rotate {
    position: absolute;
    width: 1600px;
    height: 1600px;
    background-position: center center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.element-rotate .arriere {
    -webkit-transform: rotate3d(0, 0, 10, 60deg);
    -moz-transform: rotate3d(0, 0, 10, 60deg);
    -o-transform: rotate3d(0, 0, 10, 60deg);
    -ms-transform: rotate3d(0, 0, 10, 60deg);
    transform: rotate3d(0, 0, 0, 60deg);
    background-image: url(assets/images/01.png);
}

.element:hover .element-rotate {
    -webkit-transform: rotate3d(0, 0, 10, -60deg);
    -moz-transform: rotate3d(0, 0, 10, -60deg);
    -o-transform: rotate3d(0, 0, 10, -60deg);
    -ms-transform: rotate3d(0, 0, 10, -60deg);
    transform: rotate3d(0, 0, 10, -60deg);
}