
	<footer>
		<div class="footercontainer">
			<div class="row">
				<div class="col-lg-12">
					<a class="btn btn-primary btn-lg" href="#"><span><i
							class="fa fa-twitter fa-lg"></i></span></a> <a class="btn btn-primary btn-lg" href="#"><span><i
							class="fa fa-facebook fa-lg"></i></span></a> <a class="btn btn-primary btn-lg" href="#"><span><i
							class="fa fa-google-plus fa-lg"></i></span></a> <a class="btn btn-primary btn-lg" href="#"><span><i
							class="fa fa-youtube fa-lg"></i></span></a>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">© 2017 Empire App</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<a href="cgs.html">Conditions Generale</a>
				</div>
				<div class="col-lg-4">
					<a href="plansite.html">Plan du site</a>
				</div>
				<div class="col-lg-4">
					<a href="contact.html">Contact</a>
				</div>
			</div>
		</div>

	</footer>



