<div class="main-content">

	<div id="cellphone">
		<div id="phone-screen">
			<div class="global-dragg-screen">
				<div class="col1">
					<div [dragula]='"fifth-bag"' class="clearfix">Div 1</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 3</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 5</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 7</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 9</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 11</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 13</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 15</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 17</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 19</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 21</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 23</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 25</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 27</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 29</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 31</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 33</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 35</div>

				</div>
				<div class="col2">
					<div [dragula]='"fifth-bag"' class="clearfix">Div 2</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 4</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 6</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 8</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 10</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 12</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 14</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 16</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 18</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 20</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 22</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 24</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 26</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 28</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 30</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 32</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 34</div>
					<div [dragula]='"fifth-bag"' class="clearfix">Div 36</div>

				</div>
			</div>
		</div>
	</div>

	<div [dragula]='"fifth-bag"' class="elements_DD">
		<div><input type="button" value="button 1" id="button1"></div>
		<div><textarea type="text" id="ta-t1">Inserez votre text ici . Redimensionnez la taille du block</textarea></div>
		<div><img id="moustache" src="assets/images/03.png"></div>
		<div><input type="button" value="button 2" id="button2"></div>
		<div><input type="button" value="button 3" id="button3"></div>
		<div><input type="button" value="button 4" id="button4"></div>
		<div><input type="button" value="button 5" id="button5"></div>
		<div class="ao-calendar">Calendrier</div>
	</div>
	
	<!--<div class="elements_DD">

		<div class="nav-side-menu">
			<div class="brand">Drag & Drop </div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

			<div class="menu-list">

				<ul id="menu-content" class="menu-content collapse out">

					<a href="#">
                  		<i class="fa fa-dashboard fa-lg"></i> Dashboard
                  	</a>

					<li data-toggle="collapse" data-target="#products" class="collapsed active">
						<a href="#"><i class="fa fa-gift fa-lg"></i> Boutons <span class="arrow"></span> </a>
					</li>

					<ul class="sub-menu collapse" id="products">
						<li class="active"><a href="#">Code a modif pour 1er bouton</a></li>
						<li><a href="#">Emplacement pour DD</a></li>
						<li><a href="#">Pareil</a></li>
						<li><a href="#">Tjr Pareil....</a></li>
					</ul>

					<li data-toggle="collapse" data-target="#service" class="collapsed">
						<a href="#"><i class="fa fa-globe fa-lg"></i> Images<span class="arrow"></span></a>
					</li>

					<ul class="sub-menu collapse" id="service">
						<li>Element DD</li>
						<li>Element DD</li>
						<li>Element DD</li>
					</ul>

					<li data-toggle="collapse" data-target="#new" class="collapsed">
						<a href="#"><i class="fa fa-car fa-lg"></i> Texte<span class="arrow"></span></a>
					</li>

					<ul class="sub-menu collapse" id="new">
						<li>DD Texte</li>
						<li>DD texte</li>
						<li>DD texte </li>
					</ul>

					<li>
						<a href="#">
							<i class="fa fa-user fa-lg"></i> Profile
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-users fa-lg"></i> Users
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>-->
</div>
<!-- footer start here -->
<footer>