<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

           <!-- <div id="logo">
                <img src="assets/image/logo.png">
            </div> 


        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a [routerLink]="['/']">EmpireApp</a></li>
                <li><a [routerLink]="['/maker']"><span class="glyphicon glyphicon-phone"></span>Demarrer</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>

            </ul>




            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i style="font-size: 24px" class="fa">&#xf230;</i></a></li>
                <li><a href="#"><i style="font-size: 24px" class="fa">&#xf081;</i></a></li>
                <li><a href="#"><i style="font-size: 24px" class="fa">&#xf16d;</i></a></li>
                <li><a href="#"><i style="font-size: 24px" class="fa">&#xf2ac;</i></a></li>
            </ul>
        </div>
    </div>
</nav>-->

<nav>
    <div class="nav-wrapper">
        <a href="#
        !" class="brand-logo">EA</a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/maker']"><i class="material-icons left">Demarrer</i></a></li>
            <li><a [routerLink]="['/contact']"><i class="material-icons right">Contact</i></a></li>
        </ul>
    </div>
</nav>