<div class="page">

    <header>
        <h1>CONTACT</h1>
    </header>

    <form class="form-horizontal">
        <fieldset>


            <legend>Formulaire</legend>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">*Prenom:</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Ex: Alexendre" class="form-control input-md">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">*Nom:</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Ex: Durant" class="form-control input-md">

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">*Email:</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Ex: alexendre.durant@gmail.com" class="form-control input-md">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Societe:</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Ex: Empire App sas" class="form-control input-md">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Telephone:</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Ex: +33754573300" class="form-control input-md">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Site web:</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Ex: www.empireapp.com" class="form-control input-md">

                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">Message:</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="textarea" type="text" placeholder="Il est possible d'agrandir la zone de texte..."></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Envoyer</button>
                </div>
            </div>

        </fieldset>
    </form>