<app-searchform></app-searchform>
<div class="content">
  <div>
    <h1 class="body-titre">Empire App</h1>
    <p class="titre-p"> Creez votre Application sans écrire une ligne de code </p>
  </div>
  <ul class="conteneur">
    <li>
      <div class="element image01">
        <div class="rotate-wrap">
          <div class="element-rotate">
            <div class="image01"><img src="assets/images/01.png">

            </div>

            <div class="arriere">
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="pres">
  <div class="presentation">

    Créer une application mobile facilement et rapidement avec Empire app.<br> La solution parfaite pour créer votre application.<br>    Multi-plateforme : iPhone, Android, web App Html5.<br> Concevez des applications mobiles performantes pour tout type
    d'activité.
    <br> Gestion autonome de votre application.<br> Sans compétences en programmation particulières.<br> Vous permet de composer
    très simplement chacun de vos écrans.<br> Un certain nombres de modules disponibles, un design personnalisable, une sélection
    de modèles.<br> Les applications sont devenues des vecteurs de communication incontournables pour les professionnels.<br>    Tester l'application.<br>

    <div class="boutton">
      <div id="lien_bouton">
        <a href="maker" target="_blank" type="button" class="start"> <input
			type="button" value="START" class="start">
		</a>
      </div>
    </div>
  </div>
</div>