<div class="content">

  <div class="conteneur">

    <!-- haut de page -->

    <div>
      <h1 class="body-titre">Empire App</h1>
      <p class="titre-p"> Creez votre Application sans écrire une ligne de code </p>
      <div class="start-button">
        <div id="link-button">
          <a target="_blank" href="maker" class="start"> 
            <input type="button" value="START" class="start"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Block gris clair -->

  <div class="img-1"> <img id="globe" src="assets/images/andro_dev.png"> </div>
  <div class="pres">

    <div class="presentation-grey">
      <p class="paragraphePresentation"> Créer une application mobile facilement et rapidement avec Empire app.<br> La solution parfaite pour créer votre application.<br> Multi-plateforme : iPhone, Android, web App Html5.<br> Concevez des applications mobiles performantes pour tout type
        d'activité.
      </p>
    </div>
  </div>

  <!-- Block blanc  -->

  <div class="img-2"> <img id="cube" src="assets/images/img_cube_os.png"> </div>
  <div class="pres">
    <div class="presentation-white">
      <p class="paragraphePresentation"> Gestion autonome de votre application.<br> Sans compétences en programmation particulières.<br> Vous permet de composer très simplement chacun de vos écrans.</p>
    </div>
  </div>

  <!-- Block gris foncé  -->

  <div class="img-1"> <img id="app-dev" src="assets/images/app-dev.png"> </div>
  <div class="pres">
    <div class="presentation-blue">
      <p class="paragraphePresentation">Un certain nombres de modules disponibles, un design personnalisable, une sélection de modèles.<br> Les applications sont devenues des vecteurs de communication incontournables pour les professionnels.<br></p>
    </div>
  </div>