body {
    background-color: #fff;
}

/* Haut de page */

.conteneur {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: #313943;
}

.body-titre {
    font-family: 'Cormorant Infant', serif;
    color: #fff;
    position: relative;
    padding-top: 122px;
    margin-top: 30px;
    margin: auto;
    text-align: center;
    font-size: 35px;
    text-align: center;
    font-size: 112px;
}

.titre-p {
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #fff;
    width: 500px;
    margin-top: 216px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    text-align: center;
}

/* Bouton Start */


.start-boutton {
    margin-top: 20px;
}

.start {
    line-height: 50px;
    border-radius: 50px;
    text-decoration-line: none;
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    background: #313943;
    box-shadow: 2px 2px 8px #bbc8d8;
    font: bold 13px 'Lato', sans-serif; 
    border-radius: 50%;
    color: #1fcfcb;
    outline: none;
    font-family: 'Lato', sans-serif;
}


/* Prop communes à  les paragraphes contenu dans les block de couleurs ; */
.paragraphePresentation {
    width: 500px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0px;
}


/* Block Fond Gris */

.presentation-grey {
    background: #bbc8d8;
    width: 100%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 107px 0;
    color: #fff;
    text-align: left;
}

.presentation-grey p {
    margin-left: 95px;
}


/* Block Fond Blanc */

.presentation-white {
    background: #fff;
    width: 100%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 107px 0;
    color: #1fcfcb;
    text-align: right;
}

.presentation-white p {
    margin-right: 95px;
}


/*Block Fond Bleu */

.presentation-blue {
    background: #313943;
    width: 100%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 107px 0;
    color: #bbc8d8;
    text-align: left;
}

.presentation-blue p {
    margin-left: 95px;
}


/*Image block gris - > globe */
.img-1 {
    float: right;
    position: relative;
    z-index: 5;
}

#globe {
    display: inline-block;
    width: 302px;
    height: 244px;
    margin-right: 49px;
    margin-top: 46px;
}


/*Image block blanc - > cube */

.img-2 {
    padding-top: 34px;
    margin-left: 93px;
    float: left;
    position: relative;
    z-index: 5;
}


#cube {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-left: 99px;
}


/* Image block Gris foncé . -> App-dev */

#app-dev {
    margin-right: 70px;
}

